footer {

   // background: url(../../../../public/image/icon/background.png)  no-repeat ;
   .footer_top {
      border-top: 4px solid var(--pri-color);
      padding-top: 2%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .footer_top_icon {
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         align-content: center;
         flex-wrap: nowrap;
         align-items: center;
         color: var(--text-color-light);

         p {
            color: var(--pri-color);
            font-size: 1.1rem;
            font-weight: 500;
            word-wrap: break-word;
            overflow-wrap: break-word;
            width: 100%;
            text-align: center;
         }
      }
   }

   .footer_bottom {
      background: url(../../../../public/image/icon/left.png) no-repeat left top,
         url(../../../../public/image/icon/right.png) no-repeat right bottom,
         var(--pri-color);
      background-size: 19%, 20%;

      height: 20rem;



      .menu_footer {
         margin: 25% auto;
         list-style-type: none;

         &>a {
            font-size: 1.2rem;
            color: var(--text-color-light);
         }

         li a {
            color: var(--text-color-light) !important;
            text-decoration: none;

            &:hover {
               color: var(--color-green);
            }
         }

      }
   }
}