.cart{
     .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table th, .table td {
        padding: px;
        text-align: center;
        vertical-align: middle;  
      
    }
    .table img {
        max-width: 70px; 
        height: auto;
    }
    .quantity-control {
        display: flex;  
        align-items: center; 
        justify-content: center;  
    }
    .quantity-control input[type="button"] {
        background-color: #07503d;  
        color: white;  
        border: none;  
        border-radius: 5px;  
        width: 30px;  
        height: 30px; 
        cursor: pointer;  
    }
    .quantity-control input[type="number"] {
        width: 80px; 
        text-align: center;  
        border: 1px solid #ddd;  
        border-radius: 5px; 
        margin: 0 5px;  
    }
}
