.section_one {
   margin: 0 auto;

   background: var(--text-color-light);
   padding-bottom: 2%;
   box-shadow: 10px 10px 30px #e8e8e8,
      -10px -10px 30px #ffffff;

   &_slide {
      overflow: hidden;
      height: 400px;
   }

   .slide {
      position: relative;


      &_banner {
         width: 100%;
         height: 100%;
         position: absolute;
      }
   }

   .btn_slide {
      width: 100%;
      margin-top: -27%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;

      button {
         padding: 10px;
         border: none;
         border-radius: 50%;
         color: var(--text-color-light);
         opacity: 0.5;
         background: none;

         &:hover {
            background: var(--color-green);
            opacity: 0.8;
         }
      }
   }

   .box_img {
      display: flex !important;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
   }
}

.flash {
   .card {
      width: 20%;
      @include card(var(--color-price), var(--color-title), var(--text-color));
   }

   position: relative;
   background: var(--color-price);
   margin-top: 1%;
   padding: 1% 0%;
   border-radius: 15px;

   .flash_box {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
      overflow: hidden;
      width: 98%;
      margin: auto;
   }

   .box_title h3 {
      color: var(--text-color-light);
   }

   .box_title a {
      color: var(--text-color-light);
      text-decoration: none;
   }

   .flash_box::-webkit-scrollbar {
      display: none;
   }

   .box_btn {
      position: absolute;
      top: 50%;
      width: 100%;
      padding: 0 1.5%;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      button {
         color: var(--color-price);
         background: none;
         border: none;
         border-radius: 50%;
         padding: 0.5% 0.7%;
         background: rgba(128, 128, 128, 0.227);

         &:hover {
            background: rgba(255, 148, 48, 0.688);
            color: var(--text-color-light);
         }
      }
   }
}

section .img-box {
   position: relative;
   overflow: hidden;
   height: 13rem;

   img {
      transition: transform 0.3s ease-in-out;

      &:hover {
         transform: scale(1.2);
      }
   }

}

.brand {
   width: 100%;
   padding: 1% 0;

   .box_title {
      padding: 0 1%;

      h3,
      a {
         color: var(--pri-color);
      }
   }

   .box_category_left {
      position: relative;
      overflow: hidden;
      height: 29rem;

      .slide_banner {
         // position: relative;

         .btn_slide {
            position: absolute;
            top: 50%;
            width: 100%;

            button {
               padding: 2%;
               border: none;
               background: var(--color-green);
               opacity: 0.4;
               border-radius: 50%;
               color: var(--text-color-light);

               &:hover {
                  opacity: 1;
               }
            }
         }
      }
   }

   .box_category_right {
      position: relative;
      overflow: hidden;

      &:hover .box_btn_category button {
         opacity: 0.7;
      }

      .slider_box_right {
         overflow-x: auto;
         white-space: nowrap;
         overflow: hidden;
         scroll-behavior: smooth;
         scrollbar-width: none;


      }

      .flash_box {
         display: flex;
         padding: 0;
         margin: 0;

         li {
            list-style-type: none;
            padding: 0;
            margin: 0;
         }
      }

      .card_category {
         position: relative;
         width: 100%;
         height: 14rem;
         overflow: hidden;
         border-radius: 10px;
         margin: 2% 0;

         &:hover {
            // opacity: 1;

            border: 3px solid var(--color-price);

            .name_brand {
               box-shadow: none;
               transform: translateY(-20px);
            }
         }

         .name_brand {
            position: absolute;
            bottom: 7%;
            width: 90%;
            margin: 0 5%;
            border-radius: 10px;
            background: var(--text-color-light);
            height: 3rem;
            display: flex;
            color: var(--pri-color);
            justify-content: center;
            align-items: center;
            overflow: hidden;
            box-shadow: 5px 5px 10px -3px rgba(102, 102, 102, 1);
            transform: translateY(0);
            transition: opacity 0.5s ease, transform 0.5s ease;

            h2 {
               font-family: "Inter", serif;
               margin: 0;
               font-size: 1.5rem;
               font-weight: 500;
               text-transform: uppercase;
            }
         }
      }

      .box_btn_category {
         position: absolute;
         top: 52%;
         width: 98%;
         display: flex;
         justify-content: space-between;

         button {
            border: none;
            padding: 0.5rem 0.6rem 0.5rem 1.1rem;
            color: var(--text-color-light);
            background: var(--color-green);
            margin: 0 0.5%;
            border-radius: 50%;
            animation: alternate;
            opacity: 0;
            transition: all 0.3s ease-in-out;

         }

      }
   }


}

.all_product {
   margin: 0 auto;

   .box_card {
      height: auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1%;

      .card {
         @include card(var(--color-price), var(--color-title), var(--text-color));
         padding: 0;

         &:hover {
            box-shadow: 5px 5px 10px #b4b4b4,
               -5px -5px 10px #ffffff;
         }
      }
   }

   .box_title h3,
   .box_title a {
      color: var(--pri-color);
   }

   .title_all_product {
      background: var(--color-green);
      padding: 0.6% 5%;
      font-size: 1.2rem;
      border-radius: 30px;
      font-weight: 600;
      margin: 3% auto;
      width: max-content;

      a {
         color: var(--pri-color);
      }


   }
}